.container video {
    filter: hue-rotate(90deg) brightness(45%);
}

.container{
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

section {
    height: 100vh;
    scroll-snap-align: start;

}

.two {
    display: flex;
    align-items: center;
    justify-content: center;
}


.navbar {
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    background-color: rgba(0,0,0,0.7);
    border-radius: 15px;

}

nav {
    flex: 1;
    text-align: right;
}

.navbar ul li{
    list-style-type: none;
    display: inline-block;
    margin-right: 100px;
    font-family: sans-serif;

}

.navbar ul li a {
    text-decoration: none;

    font-size: larger;
    font-family: sans-serif;
    color: antiquewhite;
}

.navbar ul li a:hover {
    color: deeppink;
}

.logo {
    object-fit: contain;
    width: 46px;
    height: 46px;
    cursor: pointer;
    margin-left: 40px;
}

.background {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

main {
    text-align: center;
    align-items: center;
    width: 100%;
    padding-top: 7%;
    color: snow;
}

main h1 {
    font-size: 120px;
    margin-bottom: 20px;
}

main p {
    font-size: larger;
}

main a {
    color: snow;
    background-color: black;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    border: 2px;
    border-radius: 50px;
    padding: 14px 70px;
    margin-top: 30px;
}

main a:hover {
    background-color: deeppink;
}

.box {
    width: 1300px;
    height: 700px;
    text-align: center;


}

.box h2 {
    color: snow;
    font-size: xxx-large;
    text-align: left;
    margin-left: 80px;
}

.box p {
    color: snow;
    font-size: larger;
}

.box img {
    object-fit: contain;
    width: 700px;
    height: 500px;
}