body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: aliceblue;
}

/* Pääotsikko */
.otsikko {
    text-align: center;
}

/* Datalaatikoiden asettelu */
section {
    display: grid;
    flex-direction: column;
    align-items: normal;
    column-gap: 10px;
    grid-template-columns: 0fr 1fr;
}

/* Kartan css -asetukset */
#map {
    height: 640px;
    width: 740px;
    grid-row-start: auto;
    border-style: solid;
}

/* Navbar css-asetukset */
.topnav {
    background-color: #333333;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: normal;
    justify-content: left;
}

.topnav a {
    float: right;
    color: white;
    text-align: center;
    padding: 12px 50px;
    text-decoration: none;
    font-size: 17px;
    font-family: sans-serif;
    position: relative;
    cursor: pointer;
}

.topnav a:hover {
    background-color: black;
    color: white;
}

.topnav a.active {
    background-color: black;
    color: white;
}

/* Tietolaatikon css-asetukset */
#tiedot {
    border-style: solid;
    height: 300px;
    background: rgba(0,255,255, 0.3);
    color: black;
    padding-left: 5px;

}

#tiedoth3 {
    text-decoration: underline;
}

/* Konsolilaatikon css-asetukset */
#konsoli1 {
    background: rgba(0, 255, 255, 0.3);
    height: 300px;
    border-style: solid;
    color: black;
    top: 50px;
    position: relative;
    padding-left: 5px;
}

#konsoli2 {
    background: rgba(0, 255, 255, 0.3);
    height: 300px;
    border-style: solid;
    color: black;
    top: 50px;
    position: relative;
    padding-left: 5px;
}

/* <p> teksti */
#konsolip {

}

/* Otsikko */
#konsolih3 {
    text-decoration: underline;
}

/* Tietolaatikon sisäiset tietolaatikot */
.boxes {
    display: grid;
    flex-direction: column;
    align-items: normal;
    column-gap: 5px;
    row-gap: 20px;
    grid-template-columns: 1fr 1fr;
}

#nimi {
    background-color: rgba(0,0,0, 0.1);
    height: 60px;

}

#rahat {
    background-color: rgba(0,0,0, 0.1);
    height: 60px;
}

#sijainti {
    background-color: rgba(0,0,0, 0.1);
    height: 60px;
}

#maat {
     background-color: rgba(0,0,0, 0.1);
    height: 60px;
}